// Import all of Bootstrap's CSS
// Import all of Bootstrap's CSS
@import "base/_variables";
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/utilities";
// @import "abstracts/mixins";
// @import "base/base";
// @import "base/_typography";

body {
  background-color: #f7f7f7;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-active {
  background-color: lightblue;
}

li {
  list-style-type: none;
}

// Cards

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.3rem;
  padding: 0.8rem;
  width: 17rem;
  height: 12rem;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  &__state,
  &__icon {
    font-size: 0.8rem;
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }

  &__state::after {
    position: absolute;
    top: 20px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s;
  }

  &__state:hover::after {
    width: 100%;
  }

  &__title {
    font-weight: 200;
    font-size: 1.2rem;
    color: black;
  }

  &-background {
    background: radial-gradient(
      $color-primary-light,
      $color-primary
    ) !important;
  }
}

.custom-container {
  overflow-y: auto;
  max-height: 35rem;
}

.custom-height {
  height: 40rem;
}

.select-container {
  height: 20rem;
}

.form-select {
  height: 3rem;
}

// Parks / Mountains card

.park-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.modal-background {
  background: radial-gradient($color-primary-light, $color-primary) !important;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

li {
  line-height: inherit;
}

// Video

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__mountains {
    clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0 100%, 0 25%, 0% 0%);
  }

  &__index {
    clip-path: inset(0 0 0 0);
  }
}

.hero-text {
  color: black;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--main {
    display: block;
    font-weight: 800;
    letter-spacing: 1rem;
    margin-bottom: 1rem;

    // animation-name: moveInLeft;
    // animation-duration: 1s;
    // animation-timing-function: ease-out;
  }

  &__mountains {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--sub {
    display: block;
    font-weight: 700;
    letter-spacing: 1rem;
    // animation: moveInRight 1s ease-out;
  }
}

.title-custom {
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5rem;
  color: $color-primary;
}

// Animations

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

// Mountains card

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mountain {
  background: radial-gradient($color-primary-light, $color-primary);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  width: 18rem;
  cursor: pointer;
  font-size: 1rem;
  color: $color-dark--2;
  transition: all 0.3s;
  border-left: 4px solid $color-dark--2;
  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
  }
}

.mountain__title {
  font-size: 1.2rem;
  font-weight: 600;
}

.mountain__details {
  display: flex;
  align-items: baseline;
}

.mountain__icon {
  margin-right: 0.2rem;
  height: 0.28rem;
}

.mountain__value {
  margin-right: 0.5rem;
}

.mountain__unit {
  text-transform: capitalize;
  font-weight: 500;
}

footer {
  background-color: #d2b48c;
}

// Cards

.card-index {
  // FUNCTIONALITY
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem;

  &__side {
    height: 20rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

    &--back {
      transform: rotateY(180deg);

      &--1 {
        background-color: transparent;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &--1 {
      background-image: linear-gradient(to right bottom, #6f4e37, #d2b48c),
        url(../assets/index-background.jpg);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, #6f4e37, #d2b48c),
        url(../assets/parks-index.jpg);
    }
  }

  &__heading {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    position: absolute;
    top: 9rem;
    // transform: translate(-50%, -50%);
    width: 100%;
  }

  &__heading-span {
    padding: 0.8rem 0.8rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      height: 100%;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-brown-1, 0.85),
        rgba($color-brown-2, 0.85)
      );
    }
  }

  // FRONT SIDE STYLING
  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
}

// Row absoulte

.div-absolute {
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

// custom button
.btn-custom {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1rem;
    background-color: $color-white;
    color: $color-black;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1rem;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
